body {
  margin: 0;
}

img {
  position: fixed;
  top: 40%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  z-index: 2;
  cursor: pointer;
}

p {
  margin: 0;
  text-transform: uppercase;
  color: #D3D3D3;
  z-index: 1;
}

a {
  color: #D3D3D3;
  text-decoration: none;
}

a:hover {
  color: #323232;
}

.spinner {
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}